body {
  background-color: #000000;
  margin: 0px 0px 0px 0px;
}

.menu-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
}

.logo {
  padding: 8px 8px 8px 8px;
  width: auto;
}

.menu {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0.0);
  
  text-align: center;
  font-size: 18px;
}

.cat {
  font-size: 32px;
  cursor: pointer;
}

.cat:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
}

.not-btn {
  cursor: pointer;
}

.btn {
  background-color: rgba(255, 255, 255, 0.25) !IMPORTANT;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1.0) !IMPORTANT;
  color: rgba(0, 0, 0, 1.0);
}

.fld {

}

.inp {
  border: none;
  margin: 0 0 0 0;
  padding: 2px 6px 2px 2px;
  width: 100%;
  
  font-size: 18px;
  
  text-align: center;
  background:rgba(255,255,255,0);
  color: rgba(255, 255, 255, 1.0);
}

.inp:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 1.0);
}

.inp::-webkit-input-placeholder {
  color: rgba(255,255,255,0.65);
}

.combo {}

.combo:-webkit-input-placeholder {
  color: rgba(255,255,255,0.65);
}

.combo-l {
  display: inline-block;
  text-align: right;
  width: 50%;
  cursor: default;
}

.combo-l:hover {}

.combo-r {
  border: none;
  margin: 0 0 0 0;
  padding: 2px 6px 2px 2px;
  width: 50%;
  
  font-size: 18px;
  
  text-align: left;
  background:rgba(255,255,255,0);
  color: rgba(255, 255, 255, 1.0);
}

.combo-r:hover {
  color:rgba(0,0,0,1);
}

.ico-blip {
  background-image: url(../img/aes/blip.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  height: 24px;
  width: 100%;
}

.ico-blip:hover {
  background-image: url(../img/aes/blip-hov.png);
}

.ico-con {
    width: 28px;
    height: 28px;
    padding-left: 8px;
    margin-bottom: -5px;
}

.con {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
  padding: 0px 8px 0px 8px;
}

/*.ver {
  display: inline-block;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
  padding: 0px 8px 0px 8px;
}

.ver-inp {
  display: inline-block;
  border: none;
  margin: 0 0 0 0;
  padding: 2px 6px 2px 2px;
  width: 100%;
  
  font-size: 18px;
  
  text-align: center;
  background:rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 1.0);
}

.ver-inp:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 1.0);
}

.ver-inp::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.65);
}*/

.ver {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 1.0);
}

.usr {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 1.0);
  width: 335px;
}

serv {
    padding-left: 8px;
    text-align: left !IMPORTANT;
}

.ico-serv {
    float: right;
    width: 16px;
    height: 16px;
    padding-right: 8px;
    margin-top: 3px;
}

.loc {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 1.0);
  width: 335px;
}

.ref {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 1.0);
  width: 600px;
  height: 39px;
}

.ico-ref {
  cursor: pointer;
}

.ico-ref:hover {
  text-shadow: 0px 0px 8px white;
}

.lob {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
  height: 39px;
}

.left-container {
  float: left;
}

.right-container {
  float: right;
}

.about {
  font-size: 14px;
}

.sub {
  background-color: rgba(255, 255, 255, 0.1);
}

.drop {
  background-color: rgba(255, 255, 255, 0.1) !IMPORTANT;
  cursor: pointer;
}

.drop:hover {
  background-color: rgba(255, 255, 255, 0.75) !IMPORTANT;
  color: rgba(0, 0, 0, 1.0);
}

.selected {
  background-color: rgba(255, 255, 255, 1.0) !IMPORTANT;
  color: rgba(0, 0, 0, 1.0);
}

.per30 {
  width: 30%;
  text-align: center;
  display: inline-block;
}

.per10 {
  width: 10%;
  text-align: center;
  display: inline-block;
}

.warn {
  position: absolute;
  margin: 0px 0px 0px 0px;
  padding: 6px 32px 2px 6px;
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(255, 255, 255, 0.15);
  
  font-size: 16px;
  font-weight: bold;
}

.game-load {
  position: absolute;
  margin: 8px 0px 0px 8px;
  top: 8px;
  left: 8px;
  
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  font-size: 16px;
  font-weight: bold;
  z-index: -1;
}

.load-head {
    font-weight: bold;
    font-family: "Calibri", monospace;
    background-color: rgba(255, 255, 255, 0.0);
    border: 2px solid rgba(255, 255, 255, 1.0);
    font-size: 22px;
    color: #FFFFFF;
    margin: 0px 4px 4px 0px;
    padding: 4px 4px 0px 4px;
    display: inline-block;
}

.load-item {
  font-family: "Calibri", monospace;
  background-color: rgba(255, 255, 255, 0.0);
  border: 2px solid rgba(255, 255, 255, 1.0);
  size: 12px;
  color: #FFFFFF;
  margin: 0px 4px 4px 0px;
  padding: 0px 4px 0px 4px;
  display: inline-block;
}

.load-item-inverse {
  font-family: "Calibri", monospace;
  background-color: rgba(255, 255, 255, 1.0);
  border: 2px solid rgba(255, 255, 255, 1.0);
  size: 12px;
  color: #000000;
  margin: 0px 4px 4px 0px;
  padding: 0px 4px 0px 4px;
  display: inline-block;
}


.fullscreen {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  
  width: 100%;
  height: 100%;
  
  font-weight: bold;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}