body {
  background-color: #000000;
  background-image: url("../img/aes/bkg_gaus.png");
  background-repeat: no-repeat;
  background-size: 100%;
  
  margin: 0px 0px 0px 0px;
}

.main-menu-container {
  margin: 3% 0 0 0;
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  
  float: left;
  width: 40%;
}

.main-menu {
  background-color: rgba(255, 255, 255, 0.0);
  border: 3px solid rgba(255, 255, 255, 1.0);
  border-left: 0px none rgba(255, 255, 255, 0.0);
  
  padding: 8px 16px 8px 8px;
  margin: 0px 0px 8px 0px;
  
  font-weight: bold;
  text-align: right;
}

.main-menu-inverse {
  background-color: rgba(255, 255, 255, 1.0);
  border: 3px solid rgba(255, 255, 255, 1.0);
  border-left: 0px none rgba(255, 255, 255, 0.0);
  
  padding: 8px 16px 8px 8px;
  margin: 0px 0px 8px 0px;
  
  font-weight: bold;
  text-align: right;
  color: #000000;
}

.main-menu-input {
  background:rgba(255,255,255,0.3);
  border: none;
  border-radius: 8px;
  
  text-align: right;
  color: white;
  padding: 2px 6px 2px 2px;
}

.main-menu-input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}

.main-menu-text {
  padding: 4px 8px 0px 4px;
  margin: 0px 12px 0px 0px;
  text-align: right;
  width: 100%;
  
  font-weight: bold;
  float: left;
}

.info-animate {
  opacity: 0;
  
  animation: info-fade 8s;
  -moz-animation: info-fade 8s;
  -webkit-animation: info-fade 8s;
  -o-animation: info-fade 8s;
}

@keyframes info-fade {
   0% {opacity: 1;}
   25% {opacity: 1;}
   100% {opacity: 0;} 
} 

.lg {
  border-radius: 0px 36px 36px 0px;
  font-size: 20px;
  width: 100%;
}

.sm {
  border-radius: 0px 32px 32px 0px;
  font-size: 16px;
  width: 90%;
}

.btn {
  cursor: pointer;
}

.inp {
  cursor: text;
}

.selected {
  background-color: rgba(255, 255, 255, 0.33) !important;
}

.main-menu:hover {
  background-color: rgba(255, 255, 255, 0.33);
}


.right-menu-container {
  margin: 3% 0 0 0;
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  
  float: right;
  display: inline;
  width: 45%;
  
  font-weight: bold;
}

.right-menu-header {
  background-color: rgba(255, 255, 255, 1.0);
  border: 3px solid rgba(255, 255, 255, 1.0);
  border-right: 0px none rgba(255, 255, 255, 0.0);
  border-radius: 32px 0px 0px 32px;
  
  padding: 8px 8px 8px 16px;
  
  font-size: 20px;
  color: #000000;
}

.right-menu-item {
  padding: 4px 0px 0px 8px;
  margin: 0px 0px 0px 12px;
}

.right-menu-item:hover { 
  background-color: rgba(255, 255, 255, 0.33);
}

.menu-refresh-button {
  float: right;
  text-align: right;
  padding: 0px 16px 0px 16px;
  cursor: pointer;
}

.main-warn {
  position: absolute;
  margin: 8px 0px 0px 8px;
  
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  font-size: 16px;
  font-weight: bold;
}

.right-menu-help-text { 
  margin: 2px 0 0 0;
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  
  float: right;
  display: inline;
  width: 45%;
}

.game-load {
  position: absolute;
  margin: 8px 0px 0px 8px;
  top: 8px;
  left: 8px;
  
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  font-size: 16px;
  font-weight: bold;
  z-index: -1;
}

.load-head {
    font-weight: bold;
    font-family: "Calibri", monospace;
    background-color: rgba(255, 255, 255, 0.0);
    border: 2px solid rgba(255, 255, 255, 1.0);
    font-size: 22px;
    color: #FFFFFF;
    margin: 0px 4px 4px 0px;
    padding: 4px 4px 0px 4px;
    display: inline-block;
}

.load-item {
  font-family: "Calibri", monospace;
  background-color: rgba(255, 255, 255, 0.0);
  border: 2px solid rgba(255, 255, 255, 1.0);
  size: 12px;
  color: #FFFFFF;
  margin: 0px 4px 4px 0px;
  padding: 0px 4px 0px 4px;
  display: inline-block;
}

.load-item-inverse {
  font-family: "Calibri", monospace;
  background-color: rgba(255, 255, 255, 1.0);
  border: 2px solid rgba(255, 255, 255, 1.0);
  size: 12px;
  color: #000000;
  margin: 0px 4px 4px 0px;
  padding: 0px 4px 0px 4px;
  display: inline-block;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.fullscreen {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  
  width: 100%;
  height: 100%;
  
  font-weight: bold;
}