/* @TODO: This CSS file is a bit out of control. It needs to be split into seperate files corresponding to different pages invidiual styles */

body {
  background-color: #000000;
  margin: 0px 0px 0px 0px;
}

.menu-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
}

.logo {
  padding: 8px 8px 8px 8px;
  width: auto;
}

.menu {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0.0);
  
  text-align: center;
  font-size: 18px;
}

.cat {
  font-size: 32px;
  cursor: pointer;
}

.cat:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
}

.not-btn {
  cursor: default !important;
}

.btn {
  background-color: rgba(255, 255, 255, 0.25) !IMPORTANT;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1.0) !IMPORTANT;
  color: rgba(0, 0, 0, 1.0);
}

.tos-btn {
  background-color: rgba(255, 255, 255, 0.25) !IMPORTANT;
  cursor: pointer;
}

.tos-btn:hover {
  background-color: rgba(255, 255, 255, 1.0) !IMPORTANT;
  color: rgba(0, 0, 0, 1.0);
}

.fld {

}

.inp {
  border: none;
  margin: 0 0 0 0;
  padding: 2px 6px 2px 2px;
  width: 100%;
  
  font-size: 18px;
  
  text-align: center;
  background:rgba(255,255,255,0);
  color: rgba(255, 255, 255, 1.0);
}

.inp:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 1.0);
}

.inp::-webkit-input-placeholder {
  color: rgba(255,255,255,0.65);
}

.combo {}

.combo:-webkit-input-placeholder {
  color: rgba(255,255,255,0.65);
}

.combo-l {
  display: inline-block;
  text-align: right;
  width: 50%;
  cursor: default;
}

.combo-l:hover {}

.combo-r {
  border: none;
  margin: 0 0 0 0;
  padding: 2px 6px 2px 2px;
  width: 50%;
  
  font-size: 18px;
  
  text-align: left;
  background:rgba(255,255,255,0);
  color: rgba(255, 255, 255, 1.0);
}

.combo-r:hover {
  color:rgba(0,0,0,1);
}

.ico-blip {
  background-image: url(../img/aes/blip.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  height: 24px;
  width: 100%;
}

.ico-blip:hover {
  background-image: url(../img/aes/blip-hov.png);
}

.ico-con {
    width: 28px;
    height: 28px;
    padding-left: 8px;
    margin-bottom: -5px;
}

.con {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
  padding: 0px 8px 0px 8px;
}

.ver {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 1.0);
}

.usr {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 1.0);
  width: 335px;
}

serv {
    padding-left: 8px;
    text-align: left !IMPORTANT;
}

.ico-serv {
    float: right;
    width: 16px;
    height: 16px;
    padding-right: 8px;
    margin-top: 3px;
}

.loc {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 1.0);
  width: 335px;
}

.ref {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 1.0);
  width: 600px;
  height: 39px;
}

.ico-ref {
  cursor: pointer;
}

.ico-ref:hover {
  text-shadow: 0px 0px 8px white;
}

.lob {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
  height: 39px;
}

.lob-list {
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.left-container {
  float: left;
}

.right-container {
  float: right;
}

.about {
  font-size: 14px;
}

.sub {
  background-color: rgba(255, 255, 255, 0.1);
}

.drop {
  background-color: rgba(255, 255, 255, 0.1) !IMPORTANT;
  cursor: pointer;
}

.drop:hover {
  background-color: rgba(255, 255, 255, 0.75) !IMPORTANT;
  color: rgba(0, 0, 0, 1.0);
}

.selected {
  background-color: rgba(255, 255, 255, 1.0) !IMPORTANT;
  color: rgba(0, 0, 0, 1.0);
}

.per30 {
  width: 30%;
  text-align: center;
  display: inline-block;
}

.per10 {
  width: 10%;
  text-align: center;
  display: inline-block;
}

.unl-head {
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
}

.unl-scroll {
  overflow-y: scroll;
  max-height: 640px;
  border-top: rgba(255, 255, 255, 1.0) dashed 2px;
  border-bottom: rgba(255, 255, 255, 1.0) dashed 2px;
}

/* Track */
.unl-scroll::-webkit-scrollbar {
    width: 16px;
}

.unl-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.0);
}

/* Handle */
.unl-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.75);
}

/* Handle on hover */
.unl-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1.0);
}

.unl-cont {
  text-align: center;
}

.unl-box {
  display: inline-block;
  width: 175px;
  height: 175px;
  border: 2px solid rgba(255, 255, 255, 1.0);
  padding: 2px;
  margin: 4px;
}

.unl-box:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.unl-box-img-cont {
  width: 100%;
  text-align: center;
}

.unl-box-img {
  width: 135px;
  height: 135px;
}

.unl-box-name {
  display: block;
  color: rgba(255, 255, 255, 1.0);
  font-size: 18px;
  font-weight: bold;
  margin-left: 4px;
}

.unl-box-cred {
  display: inline-block;
  color: rgba(255, 255, 255, 1.0);
  width: 14px;
  height: 14px;
  margin-left: 4px;
  margin-bottom: -2px;
  background-image: url(../img/aes/credit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
}

.unl-box-price {
  display: inline-block;
  color: rgba(255, 255, 255, 1.0);
  font-size: 14px;
  font-weight: normal;
  margin-left: 2px;
}

.unl-back {
  cursor: pointer;
  display: inline-block;
  width: 33%;
  text-align: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 1.0);
  padding-top: 4px;
}

.unl-back:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
}

.unl-info {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    font-family: "Calibri", monospace;
}

.unl-info-cont {
    position: relative;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.75);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 450px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.35),0 6px 20px 0 rgba(0,0,0,0.3);
}

.unl-info-top {
    background-color: rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, 1.0);    
}

.unl-info-head {
  display: inline-block;
  font-size: 32px;
  margin-left: 8px;
}

.unl-info-close {
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 32px;
  margin-right: 8px;
  margin-bottom: -2px;
}

.unl-info-body {
  border-left: 2px solid rgba(255, 255, 255, 1.0);
  border-right: 2px solid rgba(255, 255, 255, 1.0);
}

.unl-info-confirm {
  cursor: pointer;
  background-image: url(../img/aes/blip.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
  background-color: rgba(255, 255, 255, 0.25);
  height: 32px;
  
  border: 2px solid rgba(255, 255, 255, 1.0);
  border-top: none;
}

.unl-info-confirm:hover {
  background-image: url(../img/aes/blip-hov.png);
  background-color: rgba(255, 255, 255, 1.0);
}

.unl-mod-img-cont {
  display:inline-block;
}

.unl-mod-img {
  display: block;
  width: 227px;
  height: 227px;
}

.unl-mod-cont {
  display: inline-block;
  float: right;
  width: 210px;
  margin-top: 16px;
}

.unl-mod-cred {
  display: inline-block;
  color: rgba(255, 255, 255, 1.0);
  width: 20px;
  height: 20px;
  margin-bottom: -3px;
  background-image: url(../img/aes/credit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.unl-mod-price {
  display: inline-block;
  color: rgba(255, 255, 255, 1.0);
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
  margin-left: 2px;
}

.unl-mod-desc {
  display: block;
  color: rgba(255, 255, 255, 1.0);
  font-size: 18px;
  margin-left: 4px;
  margin-right: 8px;
}

.stat-cont-left {
  display: inline-block;
  width: 50%;
  text-align: right;
  padding: 8px 4px 8px 8px;
  border-right: solid 2px rgba(255, 255, 255, 1.0);
}

.stat-cont-right {
  float: right;
  width: 40%;
  text-align: left;
  padding: 8px 8px 8px 4px;
}

.stat-name {
  font-size: 20px;
}

.stat-val {
  font-size: 20px;
  font-weight: bold;
}

.stat-sub-cont {
  display: block;
}

.stat-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 6px 0px 6px;
}

.stat-btn:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
}

.setgame-cont-left {
  display: inline-block;
  width: 50%;
  text-align: right;
  padding: 8px 4px 8px 8px;
  border-right: solid 2px rgba(255, 255, 255, 1.0);
}

.setgame-cont-right {
  display: inline-block;
  float: right;
  width: 42%;
  text-align: left;
  padding: 8px 8px 8px 4px;
}

.setgame-name {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 20px;
}

.setgame-spc {
  height: 26px;
}

.setgame-val { }

.setgame-inp {
  border: none;
  margin: 2px 0px 2px 0px;
  padding: 2px 6px 2px 2px;
  width: 100%;
  height: 24px;
  
  font-size: 18px;
  
  text-align: center;
  background:rgba(255,255,255,0);
  color: rgba(255, 255, 255, 1.0);
}

.setgame-inp:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 1.0);
}

.setgame-inp::-webkit-input-placeholder {
  color: rgba(255,255,255,0.65);
}

.setgame-upl {
  height: 26px;
}

.setgame-lock {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/aes/locked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.setgame-fn {
  font-size: 12px;
  font-style: italic;
}

.setgame-tog {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 6px 0px 6px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.map-manager-cont {
    width: 400px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid rgba(255, 255, 255, 1.0);
    color: rgba(255, 255, 255, 1.0);
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.map-manager-list {
    max-height: 300px;
    overflow-y: auto;
    margin: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    color: rgba(255, 255, 255, 1.0);
}

.map-manager-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.map-manager-item:last-child {
    border-bottom: none;
}

.map-name {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
    color: rgba(255, 255, 255, 1.0);
}

.map-manager-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.map-manager-empty {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
}

.setgame-btn.small {
    width: auto;
    font-size: 16px;
    padding: 2px 8px;
}

.setgame-tog:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
}

.setgame-color-bx {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255, 255, 255, 1.0);
  background-color: rgba(255, 255, 255, 0.0);
  margin: 2px;
}

.setgame-color-bx:hover {
  width: 22px;
  height: 22px;
  border: 2px solid rgba(255, 255, 255, 1.0);
  background-color: rgba(255, 255, 255, 0.0);
  margin: 0px;
}

.setgame-sub-cont {
  display: block;
  text-align: center;
  width: 420px;
}

.setgame-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 35%;
  padding: 3px 6px 0px 6px;
  color: rgba(255, 255, 255, 1.0);
}

.setgame-snd-fn {
  display: inline-block;
  font-size: 16px;
  margin-left: 8px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1.0);
}

.setgame-btn:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
}

.setgame-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    font-family: "Calibri", monospace;
}

.setgame-modal-cont {
    position: relative;
    top: 45%;
    padding: 0;
    text-align: center;
}

.warn {
  position: absolute;
  margin: 0px 0px 0px 0px;
  padding: 6px 32px 2px 6px;
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(255, 255, 255, 0.15);
  
  font-size: 24px;
  font-weight: bold;
}

.link {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.0);
}

.link-twit {
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../img/aes/twit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

.link-twit:hover {
  background-image: url(../img/aes/twit-inv.png);
  background-color: rgba(255, 255, 255, 1.0);
}

.link-redi {
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../img/aes/reddit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

.link-redi:hover {
  background-image: url(../img/aes/reddit-inv.png);
  background-color: rgba(255, 255, 255, 1.0);
}

.link-disc {
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../img/aes/discord.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

.link-disc:hover {
  background-image: url(../img/aes/discord-inv.png);
  background-color: rgba(255, 255, 255, 1.0);
}

.link-patr {
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../img/aes/patr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

.link-patr:hover {
  background-image: url(../img/aes/patr-inv.png);
  background-color: rgba(255, 255, 255, 1.0);
}

.credit {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px 0px 0px 0px;
  padding: 1px 12px 1px 8px;
  font-family: "Calibri", monospace;
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
}

.credit-num {
  display: inline-block;
  margin-left: 4px;
  font-size: 20px;
  font-weight: bold;
}

.credit-ico {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: 2px;
  margin-bottom: -4px;
  background-image: url(../img/aes/credit-inv.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
}

.rank {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 28px;
  font-family: "Calibri", monospace;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.25);
}

.rank-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 28px;
  background-color: rgba(255, 255, 255, 1.0);
  z-index: -1;
}

.rank-life-cont {
  display: inline-block;
  height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(255, 255, 255, 1.0);
}

.rank-rank-cont {
  display: inline-block;
  float: right;
  height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(255, 255, 255, 1.0);
}

.rank-life {
  display: inline-block;
  color: rgba(0, 0, 0, 1.0);
  margin-left: 4px;
}

.rank-rank {
  display: inline-block;
  color: rgba(0, 0, 0, 1.0);
  margin-left: 4px;
}


.rank-life-ico {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: 2px;
  margin-bottom: -4px;
  background-image: url(../img/aes/lifecred-inv.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
}

.rank-rank-ico {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: 2px;
  margin-bottom: -4px;
  background-image: url(../img/aes/global-inv.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
}

.ebeg {
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 0px;
  width: 100%;
  height: 20px;
  font-family: "Calibri", monospace;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.0);
  color: rgba(255, 255, 255, 0.0);
  text-align: center;
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.0);
}

.game-load {
  position: absolute;
  margin: 8px 8px 8px 8px;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  font-size: 16px;
  font-weight: bold;
  z-index: -1;
}

.load-head {
  font-family: "Calibri", monospace;
  background-color: rgba(255, 255, 255, 1.0);
  border: 2px solid rgba(255, 255, 255, 1.0);
  font-size: 10px;
  color: #000000;
  margin: 0px 4px 4px 0px;
  padding: 0px 4px 0px 4px;
  display: block;
  width: 100%;
}

.load-item {
  font-family: "Calibri", monospace;
  background-color: rgba(255, 255, 255, 0.0);
  border: 2px solid rgba(255, 255, 255, 1.0);
  font-size: 10px;
  color: #FFFFFF;
  margin: 0px 4px 4px 0px;
  padding: 0px 4px 0px 4px;
  display: inline-block;
  width: 225px;
}

.load-item-inverse {
  font-family: "Calibri", monospace;
  background-color: rgba(255, 255, 255, 1.0);
  border: 2px solid rgba(255, 255, 255, 1.0);
  font-size: 10px;
  color: #000000;
  margin: 0px 4px 4px 0px;
  padding: 0px 4px 0px 4px;
  display: inline-block;
  width: 225px;
}


.fullscreen {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  
  width: 100%;
  height: 100%;
  
  font-weight: bold;
  
  touch-action: none;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}