body {
  background-color: #e2e2e2;
  background-image: url("../img/aes/bkg3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  
  margin: 0px 0px 0px 0px;
}

.main-menu-container {
  margin: 5% 0 0 0;
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
}

.main-menu {
  background-color: rgba(255, 255, 255, 0.0);
  border: 3px solid rgba(255, 255, 255, 1.0);
  border-left: 0px none rgba(255, 255, 255, 0.0);
  
  padding: 8px 16px 8px 8px;
  margin: 0px 0px 8px 0px;
  
  font-weight: bold;
  text-align: right;
}

.main-menu-inverse {
  background-color: rgba(255, 255, 255, 1.0);
  border: 3px solid rgba(255, 255, 255, 1.0);
  border-left: 0px none rgba(255, 255, 255, 0.0);
  
  padding: 8px 16px 8px 8px;
  margin: 0px 0px 8px 0px;
  
  font-weight: bold;
  text-align: right;
  color: #e17fb0;
}

.main-menu-input {
  background:rgba(255,255,255,0.3);
  border: none;
  border-radius: 8px;
  
  text-align: right;
  color: white;
  padding: 2px 6px 2px 2px;
}

.main-menu-info {
  font-weight: bold;
  float: left;
  text-align: left;
  margin: 0px 0px 0px 35%;
  padding: 11px 0px 0px 42px;
  height: 0px;
  overflow: visible;
  
  opacity: 0;
}

.info-animate {
  animation: info-fade 8s;
  -moz-animation: info-fade 8s;
  -webkit-animation: info-fade 8s;
  -o-animation: info-fade 8s;
}

@keyframes info-fade {
   0% {opacity: 1;}
   25% {opacity: 1;}
   100% {opacity: 0;} 
} 

.lg {
  border-radius: 0px 36px 36px 0px;
  font-size: 20px;
  width: 40%;
}

.sm {
  border-radius: 0px 32px 32px 0px;
  font-size: 16px;
  width: 35%;
}

.btn {
  cursor: pointer;
}

.inp {
  cursor: text;
}

.selected {
  background-color: rgba(255, 255, 255, 0.33) !important;
}

.main-menu:hover {
  background-color: rgba(255, 255, 255, 0.33);
}