/* CSS for app/menu/buy-menu.js */
.buy-cont {
  padding: 8px 8px 8px 4px;
  width: 512px;
  text-align: left;
}

.buy-title {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
}

.buy-text {
  font-size: 18px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 3px;
  padding-top: 12px;
  padding-bottom: 24px;
}

.buy-price {
  font-size: 18px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
}

.buy-checkout {
  cursor: pointer;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/aes/paypal.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 26px;
  background-size: auto 24px;
}

.buy-checkout:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
  background-image: url(../img/aes/paypal-inv.png);
}

.buy-sub-cont {
  display: block;
  text-align: center;
}

.buy-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 6px 0px 6px;
  width: 150px;
}

.buy-btn:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: rgba(0, 0, 0, 1.0);
}

.buy-ico {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: 2px;
  margin-bottom: -4px;
  background-image: url(../img/aes/specusr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
}