/* CSS for app/menu/error-menu.js */

.error-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.error-modal-header {
    padding: 2px 16px;
    background-color: #f44336;
    color: white;
}

.error-modal-body {padding: 2px 16px;}

.error-modal-footer {
    padding: 2px 16px;
    background-color: #f44336;
    color: white;
}

.error-modal-content {
    position: relative;
    top: 25%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes error-animatetop {
    from {top: -300px; opacity: 0}
    to {top: 25%; opacity: 1}
}

@keyframes error-animatetop {
    from {top: -300px; opacity: 0}
    to {top: 25%; opacity: 1}
}