/* CSS for app/menu/footer-menu.js */

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 27px;
  overflow: hidden;
  font-family: "Calibri", monospace;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.0);
  text-align: center;
}

.footer-btn {
  cursor: pointer;
  display: inline-block;
  padding: 2px 8px 2px 8px;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0, 0, 0, 0.0);
}

.footer-btn:hover {
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
}