body {
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  
  font-family: "Calibri", monospace;
  background-color: rgba(0, 0, 0, 1.0);
  color: rgba(255, 255, 255, 1.0);
  
  overflow-y: scroll;
  overflow-x: hidden;
}

.top {
  position: fixed;
  top: 0px;
  
  font-size: 26px;
  font-weight: bold;
  
  width: 100%;
  height: 30px;
  
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
  
  padding-left: 14px;
}

a {
  display: block;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  
  padding-left: 18px;
  
  background-color: rgba(0, 0, 0, 1.0);
  color: rgba(255, 255, 255, 1.0);

  cursor: pointer;
}

.btn:hover {
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
}

h1 {
  font-weight: bold;
  font-size: 22px;
  
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
  
  padding-left: 16px;
  padding-top: 2px;
  margin-bottom: 0px;
}

h2, h3 {
  font-weight: bold;
  font-size: 18px;
  
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
  
  padding-left: 16px;
  padding-top: 2px;
  margin-top: 0px;
}

p {
  margin-left: 16px;
  margin-top: 8px;
}