/* CSS for app/menu/info-menu.js */

.info-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.45);
    font-family: "Calibri", monospace;
}

.info-modal-head {
  font-size: 24px;
  font-weight: bold;
  height: 33px;
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
}

.info-modal-title {
  display: inline-block;
  padding: 0px 8px 0px 8px;
  padding-top: 3px;
}

.info-modal-body {
  font-size: 18px;
  font-weight: normal;
  color: rgba(255, 255, 255, 1.0);
  padding: 4px 8px 4px 8px;
}

.info-modal-close {
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 32px;
  margin-right: 8px;
  margin-top: -2px;
  height: 33px;
}

.info-modal-content {
    position: relative;
    top: 25%;
    margin: auto;
    padding: 0;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px rgba(255, 255, 255, 1.0) solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}