.set-cont {
  width: 768px;
}

.set-row {
  display: block;
  width: 100%;
  overflow: visible;
  
  height: 29px;
}

.set-left {
  display: inline-block;
  width: 40%;
    
  padding: 2px;
  padding-bottom: 3px;
  padding-right: 5px;
  
  text-align: right;
  font-size: 20px;
  
  border-right: 2px rgb(255, 255, 255) solid;
}

.set-right {
  display: inline-block;
  
  padding: 2px;
  padding-bottom: 3px;
  
  text-align: left;
}

.set-btn {
  cursor: pointer;
  
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  
  padding-top: 1px;
  padding-left: 6px;
  padding-right: 7px;
  padding-bottom: 0px;
  margin-right: 2px;
  margin-left: 2px;
  
  display: inline-block;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0, 0, 0, 0.0);
}

.set-btn:hover {
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
}

.set-selected {
  color: rgba(0, 0, 0, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
}

.set-sub-cont {
  display: block;
  text-align: center;
  width: 100%;
}